<form action="login" method="POST" class="niceform">
    <h2>Login Form</h2>
    <div id="login_msg"> $login_msg </div>
    <label for="login">Login:</label>
    <input type="text" name="login" id="login" size="32" />
    <br />
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" size="32" />
    <br />
    <input type="submit" name="submit" id="submit_login" value="Submit" />
</form>

<p>
Or use 
  <a href="/login.php?login=enterEmail&password=enterPassword">Fast Login</a> :-) <br>
</p>